@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
@import"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";


body
{
  margin: 0;
  font-family: "roboto" ,sans-serif;
}
a
{
  text-decoration: none;
  color: inherit;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li
{
  padding: 0 0 12px 0;
}
.desktop
{
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 768px)
{
  .desktop {display:initial}
}
.fonction
{
  display:grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 2;
  grid-column-start: 2;
  padding: 0 0 65px 0;
  font-size: 1rem;
  background: #f6f6f6;
  -webkit-box-shadow: 3px 0px 3px #73737338 inset;
  box-shadow: 3px 0px 3px #73737338 inset;
  border-bottom: 5px solid #9356dc;
}
@media screen and (max-width: 768px)
{
 
  .fonction
  {
    background: #fff;
    grid-template-columns: 1fr 90% 1fr;
    padding: 0 0 40px 0;
    border-bottom: initial;
    -webkit-box-shadow: none;
    box-shadow: none
  }
}
.restaurants
{
  display: grid;
  grid-template-columns: 1fr 40% 40% 1fr;
  grid-template-rows: 4rem repeat(2, 1fr);
  gap: 2rem 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
}
@media screen and (max-width: 768px)
 {
  .restaurants
  {grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: none;
  gap: 0;
  background: #f6f6f6;
  }
.card1
{
  grid-column-start: 2;
  grid-row-start: 2;
}
@media screen and (max-width: 768px)
  {.card1
    {grid-column-start: 2;
     grid-row-start: 2;  
  }}
  .card2
    {grid-column-start: 3;
      grid-row-start: 2;
    }
@media screen and (max-width: 768px)
 {.card2
  {grid-column-start: 2;
    grid-row-start: 3;
  }}
  .card3
  {grid-column-start: 2;
   grid-row-start: 3;
  }
@media screen and (max-width: 768px)
 {.card3
  {
    grid-column-start: 2;
    grid-row-start: 4;
  }}
.card4
 {
   grid-column-start: 3;
   grid-row-start: 3;
 }
@media screen and (max-width: 768px)
 {
   .card4
    {
      grid-column-start: 2;
      grid-row-start: 5;
    }
  }
p
{
  font-family: "roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@media screen and (max-width: 320px)
 {p 
  {white-space: initial;
  }
  }
h1 
{
  font-size: 1.6rem;
  font-family: "shrikhand",sans-serif;
}
h2 
{
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  font-family: "roboto"sans-serif;
  padding: 1.3rem 0 .5rem 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
h3 
{
  font-family: "roboto",sans-serif;
  font-size: 1.5rem;
  margin: 2.5 0 1.5 0;
} 




  
}
